<a href="https://colab.research.google.com/github/Patel-Aman/data_science_basics/blob/main/K_nearest_neighbour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###K Nearest Neighbors with Python
You've been given a classified data set from a company! They've hidden the feature column names but have given you the data and the target classes.

We'll try to use KNN to create a model that directly predicts a class for a new data point based off of the features.

###Import Libraries

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets
%matplotlib inline

In [ ]:
data=pd.read_csv('Classified Data.csv',index_col=0)

In [ ]:
data.head(5)

        WTT       PTI       EQW  ...       HQE       NXJ  TARGET CLASS
0  0.913917  1.162073  0.567946  ...  0.879422  1.231409             1
1  0.635632  1.003722  0.535342  ...  0.621552  1.492702             0
2  0.721360  1.201493  0.921990  ...  0.957877  1.285597             0
3  1.234204  1.386726  0.653046  ...  1.522692  1.153093             1
4  1.279491  0.949750  0.627280  ...  1.463812  1.419167             1

[5 rows x 11 columns]

###Standardize the Variables

Because the KNN classifier predicts the class of a given test observation by identifying the observations that are nearest to it, the scale of the variables matters. Any variables that are on a large scale will have a much larger effect on the distance between the observations, and hence on the KNN classifier, than variables that are on a small scale.

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(data.drop('TARGET CLASS',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
scaled_features = scaler.transform(data.drop('TARGET CLASS',axis=1))

In [ ]:
df_feat = pd.DataFrame(scaled_features,columns=data.columns[:-1])
df_feat.head()

        WTT       PTI       EQW  ...       PJF       HQE       NXJ
0 -0.123542  0.185907 -0.913431  ... -1.482368 -0.949719 -0.643314
1 -1.084836 -0.430348 -1.025313  ... -0.202240 -1.828051  0.636759
2 -0.788702  0.339318  0.301511  ...  0.285707 -0.682494 -0.377850
3  0.982841  1.060193 -0.621399  ...  1.066491  1.241325 -1.026987
4  1.139275 -0.640392 -0.709819  ... -1.472352  1.040772  0.276510

[5 rows x 10 columns]

###Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(scaled_features,data['TARGET CLASS'],
                                                    test_size=0.30)

###Using KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [ ]:
pred = knn.predict(X_test)

###Predictions and Evaluations

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
print(confusion_matrix(y_test,pred))

[[128  12]
 [  9 151]]

In [ ]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.93      0.91      0.92       140
           1       0.93      0.94      0.93       160

    accuracy                           0.93       300
   macro avg       0.93      0.93      0.93       300
weighted avg       0.93      0.93      0.93       300